@charset "ISO-8859-1";
input{ 
	
	margin-top: 5px;
	margin-bottom: 5px;
}
.base{	
	margin-left: 9px;
}
.centra{
	text-align: center;
}
td{
	padding-left: 20px;
}

.resultado {
  
   
}