
 
            p, input {
                font-weight: bold;
            }
            input {
            background-color: lightyellow;
            }
            .botao {
                background-color: blue;
                color: white;
                min-width: 35px;
                cursor: pointer;
            }
            #resultado {
                color: red;
            }
     